{% extends "admin/change_list.html" %}

{% block search %}
    <div id="toolbar">
        <form id="changelist-search" method="get">
            <div>
                <!-- 建立教師按鈕 -->
                {% if show_create_teacher_button %}
                <a href="/admin/auth/user/create-teacher/" class="button" style="background-color: #417690; margin-right: 10px;">
                    ➕ 新增教師帳號
                </a>
                {% endif %}
                
                <!-- 原有搜尋框 -->
                <label for="searchbar"><img src="/static/admin/img/search.svg" alt="Search"></label>
                <input type="text" size="40" name="q" value="{{ cl.query }}" id="searchbar" autofocus placeholder="Search" aria-label="Search">
                <input type="submit" value="Search">
            </div>
        </form>
    </div>
{% endblock %}
